<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Mobile_Project.Google_Tasks"/>
      <class name="Mobile_Project.GoogleKeep_AddNote"/>
      <class name="Mobile_Project.GoogleKeep_AddReminder"/>
      <class name="Mobile_Project.Chrome_Activity_1"/>
      <class name="Mobile_Project.Chrome_Activity_2"/>
      <class name="Mobile_Project.Chrome_Activity_3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
